@model Contpaqi.Models.Empleado.EmpleadoObj

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3 style="color:red">¿Esta suguro de dar de baja a este empleado?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empleadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empleadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.generoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.generoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoCivilId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoCivilId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.puestoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.puestoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaBaja)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index"><button type="button" class="btn btn-secondary">Cancelar</button></a>
    </form>
</div>
